*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    color: black;
}
li{
    list-style: none;
    margin-block: .5rem;
    font-size: 1.01rem;
}
button{
    background-color: #ee1e33;
    border: none;
    color: white;
    padding: .5em 1em;
    transition: all .5s ease-in-out;
}
button:hover{
    transform: scale(.98);
    background-color:  #ff6978;
}
/* ====Utilities==== */
.grid{
    display: grid;
}
.flex{
    display: flex;
}
.caption{
    font-size: 2.2rem;
    position: relative;
    padding: .2em;
    font-family: Arial, Helvetica, sans-serif;
}
.text-uppercase .caption::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background:  #ff6978;
}
main{
    padding: 1.5rem;
}
.navbar{
    background: rgba(20, 20, 20, 0.9);
    height: 3.5rem;
    box-shadow: 3px 0 5px black;
    border-radius: 0 4%;
}
.navbar-toggler{
    border: none !important;
}
.navbar-toggler:hover{
    background: none;
}
.collapse .special{
    background-color: #ee1e33;
    border: none;
    color: white;
    padding: .3em .8em;
    text-decoration: none;
    transition: transform .5s ease-in-out;
}
.collapse .special:hover{
    transform: scale(.98);
    background-color:  #ff6978;
}
.navbar li{
    letter-spacing: .2rem;
    margin-right: 1rem;
}
.navbar-brand{
    font-size: 1.3rem;
    font-weight: bolder;
    color:  #ee1e33 !important;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 1.2rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
}
.hero{
    background-image: url("images/bg.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 2;
    padding: 1em;
    flex-direction: column;
    justify-content: center;
}
.hero::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.431);
    z-index: -1;
}
.hero-info{
    width: 45ch;
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.637);
    position: absolute;
    top: 40%;
    margin-left: 1.5rem;
}
.hero-info h1{
    line-height: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.85rem;
    margin-bottom: 1rem;
    text-transform: capitalize;
    color:  #fffbfc;
}
.hero-info p{
    font-size: 1.08rem;
    line-height: 1.2rem;
    color: rgb(241, 234, 234);
}
/* ===Social links== */
.social-media{
    gap: .5rem;
    position: absolute;
    bottom: 2rem;
    right: 4rem;
}
.social-media a{
    height: 28px;
    width: 28px;
    background-color: #ee1e33;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 25px;
    border-radius: 20%;
    transition: all .5s ease-in-out;
}
.social-media a:hover{
    background-color:   #c5606a;
    transform: scale(.98);   
}
@media (min-width:514px) {
 .hero-info{
     width: 50ch;
 }   
}
@media (min-width:700px) {
    .hero-info p{
        font-size: 1.2rem;
        width: 50ch;
    }
    .hero-info h1{
        font-size: 2rem;
    }
}
@media (min-width:967px){
    .hero-info h1{
        font-size: 2.2rem;
        line-height: 1.9rem;
    }
    .social-media a{
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
}

/* ===Blog=== */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blog.grid{ 
    gap: 2rem;
    max-width: 967px;
}
.blog-img{
    display: grid;
    justify-items: center;
}
.blog img{
    width: 350px;
    height: 300px;
}
.blog-info{ 
    display: grid;
    justify-items: center;
    align-content: center;
    margin: 0;
}
.blog h3{
    font-family: Arial, Helvetica, sans-serif;
    color:  #ff6978;
    text-shadow: 1px 1px 2px rgb(151, 146, 146);
    letter-spacing: .1rem;
}
.blog p{
    width: 50ch;
    letter-spacing: .05rem;
    line-height: 1.2rem;
}
.spec i{
    color: white;
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    font-size: 13px;
    width: 15px;
    line-height: 15px;
    height: 15px;
    border-radius: 50%;
    text-align: center;
    margin-right: 1rem;
}
@media (min-width:850px){
    .blog-info{
        max-width: 850px;
        justify-items: flex-start;

    }
    .blog{
        grid-template-columns: 1fr 2fr;
        justify-items: center;
    }
    .blog p{
        width: 50ch;

    }
    .blog img{
        align-self: flex-end;
    }
}

/* ===Newslletter=== */

.newsletter{
    padding: 1.5em;
    background-color: black;
    margin-inline: auto;
    width: 100%;
}
.input{
    width: 100%;
}
.form-bg{
    background-color: white;
    width: 100%;
    display: flex;
    padding: .51em;
    max-width: 600px;
    margin-inline: auto;
    justify-content: space-between;
}

/* ===footer=== */
.copy{
    background-color: rgba(0, 0, 0, 0.897);
    padding-block: .5em;
    margin-top: 3rem;

}
.col{
    color: #ee1e33;
}